@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

/* ::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  height: 90px;
} */

body {
	scrollbar-width: thin;
	scrollbar-color: #cccccc #f4f4f4;
}

body::-webkit-scrollbar {
	width: 0.2rem;
}

body::-webkit-scrollbar-thumb {
	background-color: #cccccc;
	border-radius: 10px;
}

body::-webkit-scrollbar-track {
	background-color: #f4f4f4;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.hide-scrollbar {
	scrollbar-width: none;
	/* Firefox 64+ */
}

.hide-scrollbar {
	-ms-overflow-style: none;
	/* Edge */
}

.college-btn {
	float: inline-start;
}

/* THin scrollbar */

::-webkit-scrollbar {
	width: 5px;
	/* Width of the scrollbar */
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	/* Color of the track */
}

::-webkit-scrollbar-thumb {
	background: #888;
	/* Color of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
	/* Color of the scrollbar on hover */
}

* {
	scrollbar-width: thin;
	/* Width of the scrollbar */
	scrollbar-color: #888 #f1f1f1;
	/* Color of the scrollbar and track */
}

*::-webkit-scrollbar {
	width: 5px;
	/* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
	background: #f1f1f1;
	/* Color of the track */
}

*::-webkit-scrollbar-thumb {
	background: #888;
	/* Color of the scrollbar */
}

*::-webkit-scrollbar-thumb:hover {
	background: #555;
	/* Color of the scrollbar on hover */
}


.resourcesScroll {
	height: 35rem;
	scrollbar-width: thin;
	border-radius: 3px;
	background: #fff;
}

.table {
	width: 100% !important;
}

table {
	table-layout: fixed;
	width: 100% !important;
	overflow-x: auto;
	border-radius: 0px 5px 0px 0px !important;
	border: 1px solid #020014;
}