@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

/* ::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  height: 90px;
} */


body {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #f4f4f4;
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
	background-color: transparent;
}


/* For Firefox */
/* scrollbar-width: thin;
scrollbar-color: #ccc transparent; */
